{% extends 'base.html' %}
{% block content %}

{% if error %}
<p style="padding: 1rem 0">{{ error }}</p>
{% endif %}

{% if not user.is_authenticated %} 
<div class="container-sm" style="display: flex; flex-direction: column; justify-content: center; align-items:center;">
  <h2 class="text-center" style="padding: 1rem 0">Login</h2>
<form method="post">
  {% csrf_token %}
  <label for="username">Username:</label>
  <input type="text" id="username" name="username">
  <label for="password">Password:</label>
  <input type="password" id="password" name="password">
  <button class="btn btn-success" type="submit">Login</button>
</form>
</div>
{% else %}
<div class="container-sm" style="display: flex; flex-direction: column; justify-content: center; align-items:center;">
  <h2 class="text-center" style="padding: 1rem 0">Você já está logado</h2>
{% endif %}
{% endblock %}